
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(243, 227, 207);
}

.header{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-around;
    outline: 3px solid black;
}
.item{ color: red;
    
}


.over{
    display: flex;
    max-width: 1200px;
   
}

.saidbar{
    min-width: 300px;
    background-image: url(./img/nd.jpg);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 20px;
    background-color: blue;
    box-shadow:  0px 2px 1px rgba(0, 0, 0, 0.2),  0px 1px 1px rgba(0, 0, 0, 0.14),  0px 1px 3px  rgba(0, 0, 0, 0.12);
    text-align: center;
    cursor: pointer;
}

.saidbar:hover{
    background-image: linear-gradient(to right, rgba(230, 100, 180, 0.3), rgba(24,67.150, 0.3)), url(./img/колбаса-ховер.jpg);
    background-position:top;
    color: khaki;
}

.img-saidbar{
    width: 320px;
    height: 220px;
    background-image: url(./img/Калбаса-сайдбар.jpg);
    background-position: center;
    background-size: cover;
   
}

.img-saidbar:hover{
    background-image: url(./img/hov-two.jpg);
}

.colorp{
    color: rgb(14, 12, 12);
}

.colorb{
    text-decoration: none;
    color: rgb(110, 6, 6);
}

.colorb:hover{color: khaki;}

.sobko-histori{
    margin-top: 10px;
    text-align: start;
}

.spisok-asaidbar{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
    align-items: center;
    justify-content:space-evenly;
}

.social-logo {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-size: contain;
}

 .facebook{
    background-image: url(./img/2.png);
}

.facebook:hover, .facebook:focus{
    background-image: url(./img/facebook_logo.png);
}

.insta{
 background-image: url(./img/1.png);
}

.insta:hover, .insta:focus {
    background-image: url(./img/insta.png);
   }

.conteiner{
    text-align: center;
}

.text{
    margin-top: 20px;
    text-align: left;
}

.i{
    color: brown;
}

.nd{ 
  box-shadow:   1px 2px 1px rgba(68, 62, 60, 0.7),  0px 1px 1px rgba(185, 81, 81, 0.4),  2px 1px 3px  rgba(0, 0, 0, 0.12);;
}